<?xml version="1.0"?>
<robot name="sam_bot" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- Define robot constants -->
    <xacro:property name="base_width" value="0.31"/>
    <xacro:property name="base_length" value="0.42"/>
    <xacro:property name="base_height" value="0.18"/>

    <!-- Robot Base -->
    <link name="base_link">
    <visual>
        <geometry>
        <box size="${base_length} ${base_width} ${base_height}"/>
        </geometry>
        <material name="Cyan">
        <color rgba="0 1.0 1.0 1.0"/>
        </material>
    </visual>
    </link>

    <!-- Robot Footprint -->
    <link name="base_footprint"/>
    
    <joint name="base_joint" type="fixed">
        <parent link="base_link"/>
        <child link="base_footprint"/>
        <origin xyz="0.0 0.0 ${-(base_height / 2)}" rpy="0 0 0"/>
    </joint>

    <!-- Robot IMU -->
    <!-- <link name="imu_link"> -->
        <!-- <visual> -->
            <!-- <geometry> -->
                <!-- <box size="0.1 0.1 0.1"/> -->
            <!-- </geometry> -->
        <!-- </visual> -->
    <!-- <collision>
    <geometry>
        <box size="0.1 0.1 0.1"/>
    </geometry>
    </collision> -->
    <!-- </link> -->

    <!-- <joint name="imu_joint" type="fixed"> -->
        <!-- <parent link="base_link"/> -->
        <!-- <child link="imu_link"/> -->
        <!-- <origin xyz="0 0 0.01"/> -->
    <!-- </joint> -->

    <!-- Robot LIDAR -->
    <link name="lidar_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="0.0508" length="0.055"/>
            </geometry>
        </visual>
    </link>

    <joint name="lidar_joint" type="fixed">
        <parent link="base_link"/>
        <child link="lidar_link"/>
        <origin xyz="0 0 0.12" rpy="0 0 0"/>
    </joint>

    <!-- Robot ZED 2i Camera -->
    <link name="zed_camera_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.04 0.2 0.035"/>
            </geometry>
        </visual>
    </link>

    <joint name="zed_camera_joint" type="fixed">
        <parent link="base_link"/>
        <child link="zed_camera_link"/>
        <origin xyz="0.23 0 0" rpy="0 0 0"/>
    </joint>

</robot>